.sidebar {
  transition: width 0.3s ease-in-out;

  @apply w-[100px] !pt-0
  flex flex-col justify-start items-center gap-8
  bg-dark-tremor-background-subtle;
}

.sidebar:hover {
  @apply cursor-pointer
}

.sidebar > * {
  transition: color 0.2s ease-in-out;

  @apply w-full px-3
  text-dark-tremor-background-emphasis;
}

.sidebar > *:hover {
  @apply cursor-pointer text-dark-tremor-brand-emphasis;
}

.tag {
  opacity: 0;
  transition: display ease-in-out .4s,
              opacity ease-in-out .4s;

  @apply w-full h-full text-xl whitespace-nowrap
  flex items-center justify-start
}

.tooltip {
  @apply z-10 w-max h-min py-2 px-3 rounded-xl 
  absolute left-10 top-12
  text-base font-bold text-dark-tremor-brand-emphasis
  bg-dark-tremor-brand-muted
}

.menuBtn {
  @apply py-3
  flex relative flex-row 
  justify-center items-center gap-5
}

.menuBtn > :first-child {
  @apply w-7 h-7
}
