.button__base {
  @apply p-1 border-2 rounded-md;
}

.button__blue {
  @apply button__base
  bg-dark-tremor-brand-subtle
  text-white
  border-dark-tremor-brand-subtle
  
  hover:bg-dark-tremor-brand
  hover:text-dark-tremor-background
  hover:border-dark-tremor-brand;
}

.button__green {
  @apply button__base
  bg-dark-tremor-background
  text-green-600
  border-green-600

  hover:bg-green-600
  hover:text-white;
}

.button__red {
  @apply button__base
  bg-dark-tremor-background
  text-red-600
  border-red-600

  hover:bg-red-600
  hover:text-white;
}
